.header_container{
    width: 100%;
    background-color: #121212;
}
.header_brandImage-container{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_brandImage-container > img{
    height: 80%;
}
.header_navbar-container{
    display: flex;
    color:white;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    height: 7rem;
    align-items: center;
    margin:0;
    padding: 0;
}
.header_navbar-link-wrap{
    text-decoration: none;
    color:white;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header_navbar-link-wrap > li{
    text-transform: uppercase;
    flex:1;
    font-family: 'EB Garamond', serif;
}

@media only screen and (min-width:739px) and (max-width:1024px){
    .header_navbar-link-wrap{
        font-size: 1.2rem;
    }
}
.header_search-container{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_search-wrap{
    width: 80%;
    height: 3.5rem;
    border: 0.1rem solid white;
    display: flex;
    align-items: center;
}
.header_search-wrap > input{
    width: 85%;
    height: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color:white;
    padding-left: 0.5rem;
    font-size: 1.4rem;
}
.header_search-wrap > input::placeholder{
    color:white;
}
.header_search-icons{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 1.7rem;
    cursor: pointer;
}
.header_navbar-link-wrap:hover .header_navbar-link-item-container{
    display: block;
}
.header_navbar-link-wrap::after{
    position: absolute;
    content:"";
    top: 100%;
    left:-2rem;
    right:-1rem;
    height: 3rem;
}
.header_navbar-link-item-container{
    position: absolute;
    top:200%;
    left:-2rem;
    width: 40rem;
    background-color: #121212;
    padding:1rem;
    display: none;
}
.header_navbar-link-item-wrap{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    margin:0;
}
.header_navbar-link-item{
    width: 50%;
    color:white;
    text-decoration: none;
    height: 5rem;
    display: flex;
    align-items: center;
    transition: all ease 0.1s;
}
.header_navbar-link-item:hover{
    color:orange;
    transform: translateX(1rem);
}
.image_mobile_container{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
}
.image_mobile_container > img{
    height: 70%;
}
.icon_bar_container{
    color:white;
    font-size: 5rem;
}
.icon_searching_container{
    color:white;
    font-size: 4rem;
    margin-right: 2.5rem;
}
.icon_container{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@keyframes animating{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animatingBack{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}


.mobile_slide_container{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    background-color: white;
    z-index: 20;
    left:40%;
    padding:1rem;
    animation: animatingBack 0.65s ease forwards;
    padding-bottom: 2rem;
}
.mobile_slide_wrap{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 2rem;
}
.mobile_slide_wrap::-webkit-scrollbar{
    display: none;
}
.header_slice_hidden_container{
    position: absolute;
    top:0;
    left:0;
    min-height: 100%;
    background-color: transparent;
    z-index: 20;
    right:60%;
}

.header_slice_hidden_change{
    display: none;
}
.header_slice_change{
    animation: animating 0.65s ease forwards;
}
.times_icons_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}
.list_mobile_container{
    margin-top: 2rem;
    background-color: white;
}
.list_mobile_items{
    text-decoration: none;
}
.mobile_list_item{
    width: 100%;
    height: 7rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color:black;
    font-weight: 600;
    border-top: 0.1rem solid rgba(0,0,0,0.2);
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
    padding-left: 1rem;
}
.mobile_list_item-bottom,
.mobile_list_item-bottom-select{
    width: 100%;
    height: 7rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color:black;
    font-weight: 600;
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
    padding-left: 1rem;
    position: relative;
}
.mobile_list_item:hover ,
.mobile_list_item-bottom:hover{
    background-color: #F15A18;
    color:white;
}
.type_mobile_container{
    font-size: 2.3rem;
    font-weight: 500;
    background-color: rgba(0,0,0,0.1);
    animation: animatingAppear 0.7s ease forwards;
}
.type_mobile_container-hidden{
    display: none;
}
.type_mobile-itemstype{
    width: 100%;
    text-decoration: none;
}
.type_mobile-item_type{
    display: flex;
    align-items: center;
    height: 7rem;
    color:black;
    padding-left: 2rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.2);
}
.type_mobile-item_type:hover{
    background-color: #F15A18;
    color:white;
}
.type_mobile-item_type:hover ~ .mobile_list_item-bottom{
    background-color: white;
    color:black;
}

@keyframes animatingAppear{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
