.login_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_manager_container{
    width: 100%;
    margin:2rem 0;
    background-color: #F88600;
    min-height: 6rem;
    border-radius: 5rem;
    display: flex;
    padding:2rem;
    padding-bottom: 1rem;
    justify-content: center;
}
.admin_manager_button{
    padding:1.5rem;
    background-color: black;
    color:white;
    border-radius: 10rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 500;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.admin_manager_button:hover{
    background-color: white;
    color:black;
}
.kind_container{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: transparent;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kind_wrap{
    width: 50rem;
    padding:1.5rem;
    background-color: white;
    box-shadow: 0 0 2rem 1rem black;
    border-radius: 5rem;
}
.kind_wrap_times{
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
}
.kind_title{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.kind_items{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
    justify-content: center;
}
.kind_items > li{
    min-width: 10rem;
    height: 4rem;
    border:0.1rem solid rgba(0,0,0,0.2);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    position: relative;
}
.kind_items > li:hover .kind_items-delete{
    display: flex;
}
.kind_items-delete{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    display: none;
}
.kind_items-delete-button{
    background-color: #F88600;
    padding:1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    color:white;
    box-shadow: 0 0 0.6rem 0.2rem #F88600;
}
.delete_confirm{
    margin:1rem 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
}
.delete_confirm > button{
    width: 5rem;
    height: 3rem;
    margin-left: 1rem;
    cursor: pointer;
    border:1px solid white;
}
.kind_create_form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.kind_create_form > input{
    width: 80%;
    height: 5rem;
    outline: none;
    padding-left: 1rem;
    border-radius: 3rem;
    font-size: 1.5rem;
}
.kind_create_button{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.kind_create_button > button{
    width: 30%;
    height: 5rem;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1.8rem;
    color:white;
    transition: all ease 0.1s;
    border:1px solid white;
}
.kind_create-create{
    margin-right: 2rem;
    background-color: green;
}
.kind_create-cancel{
    background-color: #B2B2B2;
}
.kind_create_button > button:hover{
    transform: scale(1.1);
}
.manager_container{
    margin-top: 5rem;
    width: 100%;
}
.manager_title{
    text-align: center;
    font-size: 2.8rem;
    color:white;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.manager_searching{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.manager_searching > input{
    width: 60%;
    height: 6rem;
    outline: none;
    border-radius: 10rem;
    padding:0 2rem;
    font-size: 2rem;
}
.manager_card_container{
    width: 100%;
    height: 30rem;
    background-color: white;
    border-radius: 3rem;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.manager_card_image_container{
    width: 100%;
    height: 65%;
    margin-bottom: 5%;
}
.manager_card_image_container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.manager_card_title_container{
    width: 100%;
    height: 20%;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
}
.manager_card_button_container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.manager_card_button_container > button{
    width: 30%;
    height: 100%;
    border-radius: 10rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all ease 0.1s;
    border:1px solid white;
}
.manager_update_button{
    background-color: green;
    color:white;
    margin-right: 1rem;
}
.manager_delete_button{
    background-color: red;
    color:white;
}
.manager_card_button_container > button:hover{
    transform: scale(1.1);
}
.manager_create_container{
    display: flex;
    justify-content: center;
    margin:4rem 0;   
}
.manager_create_container > button{
    width: 30%;
    height: 5rem;
    border-radius: 10rem;
    font-size: 2rem;
    cursor: pointer;
    color:white;
    background-color: #F88600;
    transition: all ease 0.2s;
    border:1px solid white;
}
.manager_create_container > button:hover{
    transform: scale(1.1);
}
.movie_create_container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movie_create_wrap{
    margin:5rem 0;
    background-color: white;
    width: 70%;
    border-radius: 5rem;
    padding:2rem;
}
.movie_create_title{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color:#F88600;
}
.movie_create_main{
    width: 100%;
    margin-top: 2rem;
    background-color: white;
    min-height: 10rem;
    padding:2rem;
    border-radius: 5rem;
}
.movie_drop_zone{
    float:left;
    width: 30rem;
    height: 30rem;
    border:1px solid black;
}
.movie_drop_zone_wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.image_create-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.image_create-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie_create_form-items{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.movie_create_form-items > label{
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 1rem;
}
.movie_create_form-items > input{
    width: 60%;
    height: 5rem;
    border-radius: 5rem;
    padding:0 1rem;
    font-size: 1.7rem;
    outline: none;
}
.movie_create_form-items > textarea{
    width: 60%;
    min-height: 10rem;
    border-radius: 2rem;
    padding:1.5rem;
    font-size: 1.7rem;
    outline: none;
    resize: vertical;
}
.movie_create_form-items-checkbox{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}
.movie_create_form-items-checkbox > label{
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 1rem;
}
.movie_create_form-items-checkbox > input{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.movie_create-form-items-kinds{
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.movie_create-form-items-kinds > input{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}
.movie_create_form-items-select{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.movie_create_form-items-select > select{
    width: 30%;
    height: 5rem;
    font-size: 1.7rem;
    outline: none;
    border-radius: 5rem;
    text-align: center;
}
.movie_create-button{
    width: auto;
    display: flex;
    justify-content: center;
}
.movie_create-button > button{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 5rem;
    background-color: green;
    color:white;
    cursor: pointer;
    outline: none;
    transition: all ease 0.3s;
    border:1px solid white;
}
.movie_create-button > button:hover{
    transform: scale(1.1);
}
.movie-delete_container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
}
.movie-delete_wrap{
    width: 40%;
    padding:2rem;
    background-color: white;
    min-height: 10rem;
    border-radius: 5rem;
    box-shadow: 0 0 1rem 0.5rem #F88600;
}
.movie-delete_icons{
    display: flex;
    justify-content: flex-end;
    font-size: 3.5rem;
}
.movie-delete_title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
    color:red;
    font-weight: 700;
}
.movie-delete_input{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.movie-delete_input > input{
    width: 60%;
    height: 5rem;
    border-radius: 10rem;
    padding:0 1rem;
    font-size: 2rem;
    outline: none;
}
.movie-delete_button{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.movie-delete_button > button{
    width: 20%;
    height: 4rem;
    border-radius: 5rem;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all ease 0.2s;
    border:1px solid white;
}
.movie-delete_button > button:hover{
    transform: scale(1.1);
}
.movie-delete_button-confirm{
    margin-right: 2rem;
    background-color: green;
    color:white;
}
.movie-delete_button-cancel{
    background-color: red;
    color:white;
}
.update_chapter_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.update_chapter_wrap{
    width: 70%;
    min-height: 10rem;
    background-color: white;
    border-radius: 5rem;
    padding:2rem;
}
.update_chapter_title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 4rem;
}
.update_chapter_list_container{
    list-style: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}
.update_chapter_list_container > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.create_chapter_container{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.create_chapter_container > button{
    width: 20%;
    height: 5rem;
    border-radius: 5rem;
    outline: none;
    background-color: #F88600;
    color:white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all ease 0.2s;
    border:none;
}
.create_chapter_container > button:hover{
    transform: scale(1.1);
}
.create_chapter_container > input{
    margin-right: 2rem;
    width: 70%;
    padding:0 2rem;
    border-radius: 5rem;
    font-size: 2rem;
}
.update_chapter_button > button{
    margin-left: 2rem;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5rem;
    outline: none;
    border:none;
}
.update_chapter_button > button:hover{
    transform: scale(1.05);
}
.update_chapter_button-delete{
    background-color: red;
    color:white;
}
.update_chapter_button-update{
    background-color: green;
    color:white;
}